/* CURRENTLY IN: styles/main.css */

/*fixing navbar margin*/
.navbar.navbar-default {
	margin-bottom: 0px;
}

/* html */

html {
	background-image: url( "../images/new-york-new-york.jpeg");
	background-size: cover;
	background-position: 0% 30%;
}

/*body*/

/*background image div*/

.image_wrapper {
	background-image: url( "../images/new-york-new-york.jpeg");
	background-size: cover;
	background-position: 0% 30%;
	float: left;
}

/*Entry Form Div*/

.jumbotron.entry {
	text-align: center;
	width: 33%;
	margin: 0 auto;
	margin-top: 5%;
	border-radius: 20px;
	opacity: .9;
}

/*Form Fields*/

.form-group,
.label,
.btn {
	opacity: 1.0;
}
