/* CURRENTLY IN: styles/main.css */

/*fixing navbar margin*/
.navbar.navbar-default {
	margin-bottom: 0px;
	border-radius: 0px
}

/* html */

html {
	background-image: url( "../images/new-york-new-york.jpeg");
	background-size: cover;
	background-position: 0% 30%;
}
	
/*body*/

/*background image div*/


/*Entry Form Div*/

.jumbotron.entry {
	text-align: center;
	width: 33%;
	margin: 0 auto;
	margin-top: 10%;
	border-radius: 20px;
	opacity: .9;
	margin-bottom: 5%;
}

/*Form Fields*/

.form-group,
.label,
.btn {
	opacity: 1.0;
}

/*about page*/

.jumbotron.entry.about {
	font-size: 12px;
	width: 50%;
}

.tableCell {
	display: block;
}

.section {
	background-image: url("../images/new-york-new-york.jpeg");
	background-size: cover;
	background-position: 0% 30%;
	float: left;
}