/* CURRENTLY IN: styles/main.css */

/*fixing navbar margin*/
.navbar.navbar-default {
	margin-bottom: 0px;
	border-radius: 0px
}

/* html */

html {
	background-image: url( "../images/new-york-new-york.jpeg");
	background-size: cover;
	background-position: 0% 30%;
	height: 100%;
}
	
/*body*/

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url( "../images/new-york-new-york.jpeg");
}

/*background image div*/


/*Entry Form Div*/

.jumbotron.entry {
	text-align: center;
	float: none;
	margin: 0 auto;
	margin-top: 10%;
	border-radius: 20px;
	opacity: .9;
	margin-bottom: 5%;
}

/*Form Fields*/

.form-group,
.label,
.btn {
	opacity: 1.0;
}

/*about page*/

.jumbotron.entry.about {
	font-size: 12px;
	width: 50%;
}

.tableCell {
	display: block;
}

.section {
	background-image: url("../images/new-york-new-york.jpeg");
	background-size: cover;
	background-position: 0% 30%;
	float: left;
}

/* google maps div (map div) */
#map-canvas { 
	height: 100%;
	float: left;
}

.controlArrow.prev,
.controlArrow.next {
	display: none !important;
}

.input-hide {
	display: none;
}

#ajaxloader1
{
	width: 30px;
	height: 30px;
	margin: 20px auto;
	border: 8px solid #000;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #eee;
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	-ms-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;

	position: relative;
	top: 40%;
}

@-webkit-keyframes spin
{
	from { -webkit-transform: rotate(0deg); opacity: 0.4; }
	50%  { -webkit-transform: rotate(180deg); opacity: 1; }
	to   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}

@-moz-keyframes spin
{
	from { -moz-transform: rotate(0deg); opacity: 0.4; }
	50%  { -moz-transform: rotate(180deg); opacity: 1; }
	to   { -moz-transform: rotate(360deg); opacity: 0.4; }
}

@-ms-keyframes spin
{
	from { -ms-transform: rotate(0deg); opacity: 0.4; }
	50%  { -ms-transform: rotate(180deg); opacity: 1; }
	to   { -ms-transform: rotate(360deg); opacity: 0.4; }
}

@-o-keyframes spin
{
	from { -o-transform: rotate(0deg); opacity: 0.4; }
	50%  { -o-transform: rotate(180deg); opacity: 1; }
	to   { -o-transform: rotate(360deg); opacity: 0.4; }
}

@keyframes spin
{
	from { transform: rotate(0deg); opacity: 0.2; }
}

/*geolocate button*/

#geolocate_btn {
	border-radius: 10px;
	background-color: red;
	margin: 10px;
}

/*taco row*/

.taco-row {
	border: 1px solid black;
	margin: 10px;
}